#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 85%;
}

.container{
	text-align: center;
}

.container img{
	width: 100px;
	height: 100px;
}

h1{
	text-align: center;
}

th, td{
	padding: 20px;
}

thead{
	background-color: rgba(57, 86, 203, 0.923);
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: rgba(70, 154, 249, 0.799);
	color: white;
}
.boton {
	background-color:rgba(98, 127, 242, 0.923);
	border-radius: 10px;
	border-color: rgb(0, 119, 255);
}


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
  }
  
  body {
	
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(#534f8a, #695be6);
  }
  
  .buscar {
	position: relative;
	float: right;
	padding: 8px;
  }
  
  .buscar input {
	width: 0;
	height: 40px;
	padding: 0 20px;
	font-size: 18px;
	color: #222;
	outline: none;
	border: 1px solid silver;
	border-radius: 30px;
	transition: all 0.6s ease;
	margin-right: 140px;
  }
  
  .btn {
	width: 55px;
	height: 55px;
	line-height: 55px;
	top: 0;
	right: 0;
	position: absolute;
	background:rgba(57, 86, 203, 0.923);
	text-align: center;
	color: white;
	font-size: 18px;
	border-radius: 50%;
	cursor: pointer;
	float: right;
	margin-right: 140px;
	
  }
  
  .buscar:hover input {
	width: 240px;
	
  }
  
  .buscar input:focus {
	width: 240px;
  }